#BigBird {
	background-color: 5bc0de;

}

#Header {
	color: #5bc0de;	
	background-color:#FFFF00;
}

#firstRow{
	margin-left: 0px;
} 

div.container {
	margin-left: 50px;
}

#secondColumn {
	padding-top: 100px;
	font-size: 30px;
}
#secondRow {
	margin: 50px auto 0px auto;


}

#buttonRow {
	margin: 50px auto 0px auto
}
	
}




